<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%~ include 'partials/metatags.html.twig' ~%}
    {%- if getenv('CECIL_ENV') == 'production' ~%}
    <style>
	    {{- asset('styles.css')|inline ~}}
    </style>
    {%- else ~%}
    <link rel="stylesheet" href="{{ asset('styles.css',{minify:false,fingerprint:false})|url }}" />
    {%- endif ~%}
  </head>
  <body class="flex flex-col min-h-screen bg-saumon mx-5 md:mx-10 dark:bg-gray-800">
    <header class="my-20 font-serif text-4xl md:text-7xl font-extrabold text-center text-gray-400 text-opacity-25 dark:text-saumon">
      {{~ site.title ~}}
    </header>
    <main class="flex-grow text-gray-700 dark:text-white text-center font-light mx-auto max-w-screen-md">
      {%- block content ~%}
      {{~ page.content ~}}
      {%- endblock ~%}
    </main>
    <footer>
      <div class="m-3 text-sm text-center justify-end text-gray-400 font-light">
        studio cecillie – Studio technique et créatif –&nbsp;<a href="https://cecillie.fr">Cécile Ricordeau</a>&nbsp;&amp;&nbsp;<a href="https://arnaudligny.fr">Arnaud Ligny</a>&nbsp;– Montreuil
      <div>
    </footer>
  </body>
</html>